<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>platformer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4BF7C40B1BD2F7EB00C64127</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BF7C41E1BD2F7EB00C64127</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BF7C4291BD2F7EB00C64127</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
